{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container-fluid text-white h-150">
    <div class="row mt-5">
        {% for review in userreviews_list %}
        <div class="col col-md-3 reviews">
            <h1 class="pt-3 font-weight-bold">Title: {{ review.title }}</h1>
            {% if request.user.is_authenticated %}
            {% if user.id == review.user.id %}
            <!-- edit/delete buttons for reviews. Available if user id matches -->
            <a href="{% url 'update_review' review.pk %}" class="font-italic btn btn-success">Edit</a>
            <a href="{% url 'delete_review' review.pk %}" class="font-italic btn btn-danger">Delete</a>
            <br>
            {% endif %}
            {% endif %}
            <a href="{% url 'reviews_detail' review.pk %}" class="lead">{{ review.review|slice:":30" }}....</a><br>
            {{ review.user }}<br>
            <div class="badge badge-warning text-wrap" style="width: 6rem;">
                {{ review.rate }} Stars
            </div>
            <br>
            {{ review.created_at }}

        </div>
        {% endfor %}
    </div>
    <div class="row">
        <div class="col">
            <a href="{% url 'add_review' %}">
                <h1 class="headings">Leave a Review</h1>
                <hr>
                <h2>To help improve our service please leave an honest review</h2>
            </a>
        </div>
    </div>
</div>
{% endblock %}