{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container-fluid">
    <div class="row ml-5">
        <div class="col col-md-6 mt-3 background-color">
            <h2 class="headings text-white offset-md-3">About JaCros Design</h2>
            <p class="text-white offset-md-1">Currently JaCros design is a one man band headed entirely by Jack
                Crosbie<br>
                Jack recently finished a level 6 Diploma in Software Development from the Code Institute of Dublin,
                graduating in the summer of 2022.<br>
                Prior to this Jack has worked in many various industries and positions but his background is mainly in
                the music industry<br>
                He holds a degree in music from the Cork School of Music in county Cork, Ireland.<br>
                After the pandemic hit Jack decided it was time to change careers and this lead him to the Code
                Institute of Dublin.<br>
                From his time here he learnt about HTML, CSS, JavaScript, Python and using various packages such as
                Django, Bootstrap and PostgreSQL.<br>
                Below is examples of projects he completed and examples of the different languages learnt.
            </p>
        </div>
        <div class="col col-md-6">
            <img src="{{ MEDIA_URL }}headshot_blank.png" alt="blank headshot stock photo" class="headshot_photo">
        </div>
    </div>
    <div class="row mt-5 p-5">
        <div class="col background-color text-white">
            <h2>Project One</h2>
            <p>
                The first project I undertook for my course was to build a website.
                I decided to use a local band and built them a website based around information they provided for me.
                The project was built using HTML and CSS only.
                Features of the website included bios of each band member, sample setlists and also a live video of the band playing.
            </p>
            <img src="{{ MEDIA_URL }}project-1.png" alt="homepage picture of first project" class="w-75 .d-sm-none .d-md-block">
        </div>
        <div class="col background-color text-white">
            <h2>Project Two</h2>
            <p>
                The second project I completed as part of my course was a JavaScript project.
                I chose to do an interactive quiz which selected questions from a selected database.
                The quiz randomly selected questions from a set and was therefor replayable.
                It included a score tracker and graphics to show users want answer they were selecting and the result.
            </p>
            <img src="{{ MEDIA_URL }}project-2.png" alt="homepage picture of second project" class="w-75 .d-sm-none .d-md-block">
        </div>
    </div>
    <div class="row mt-5 p-5">
        <div class="col background-color text-white">
            <h2>Project Three</h2>
            <p>
                The third project undertaken was a Python Essentials project which involed us building a database to access sets of information.
                As a football fan I opted to build a database with 4 different football teams and their previous years stats.
                You could then organise the data to display top scorers, oldest players and other various stats. The database was hosted on Heroku after it's completion.
            </p>
            <img src="{{ MEDIA_URL }}project-3.png" alt="homepage picture of third project" class="w-75 .d-sm-none .d-md-block">
        </div>
        <div class="col background-color text-white">
            <h2>Project Four</h2>
            <p>
                The fourth project of the course involved building a website with a backend data base using django.
                I opted to make a restaurant website with a reservations system, menu, contact form and other features.
                I implemented full CRUD functionality with the reservations app and also utilised django-AllAuth so users could register and login and out.
            </p>
            <img src="{{ MEDIA_URL }}project-4.png" alt="homepage picture of fourth project" class="w-75 .d-sm-none .d-md-block">
        </div>
    </div>
</div>
{% endblock %}