{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col col-md-6">
            About Me!
        </div>
        <div class="col col-md-6">
            *picture*
        </div>
    </div>
    <div class="col">

    </div>
    <div class="col">

    </div>
</div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col">

        </div>
        <div class="col">

        </div>
    </div>
    <div class="row">
        <div class="col">

        </div>
        <div class="col">

        </div>
    </div>
</div>
{% endblock %}