{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container-fluid">
    <div class="row ml-5">
        <div class="col col-md-6 mt-3 background-color">
            <h2 class="headings text-white offset-md-3">About JaCros Design</h2>
            <p class="text-white offset-md-1">Currently JaCros design is a one man band headed entirely by Jack
                Crosbie<br>
                Jack recently finished a level 6 Diploma in Software Development from the Code Institute of Dublin,
                graduating in the summer of 2022.<br>
                Prior to this Jack has worked in many various industries and positions but his background is mainly in
                the music industry<br>
                He holds a degree in music from the Cork School of Music in county Cork, Ireland.<br>
                After the pandemic hit Jack decided it was time to change careers and this lead him to the Code
                Institute of Dublin.<br>
                From his time here he learnt about HTML, CSS, JavaScript, Python and using various packages such as
                Django, Bootstrap and PostgreSQL.<br>
                Below is examples of projects he completed and examples of the different languages learnt.
            </p>
        </div>
        <div class="col col-md-6">
            <img src="../../../media/headshot_blank.png" alt="blank headshot stock photo" class="headshot_photo">
        </div>
    </div>
    <div class="row mt-5 p-5">
        <div class="col background-color">
            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img class="d-block w-50" src="../../../media/king_k_website.png" alt="First slide">
                    </div>
                    <div class="carousel-item">
                        <img class="d-block w-66" src="../../../media/reservation-form.png" alt="Second slide">
                    </div>
                    <div class="carousel-item">
                        <img class="d-block w-70" src="../../../media/reservation-card.png" alt="Third slide">
                    </div>
                    <div class="carousel-item">
                        <img class="d-block w-70" src="../../../media/reservation-form.png" alt="Fourth slide">
                    </div>
                </div>
                <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">

        </div>
        <div class="col">

        </div>
    </div>
</div>
{% endblock %}