/* ------------------------- allows our h100 classes to work */

html {
    height: 100%;
}

body {
    background: url('/media/cool-background.png') no-repeat center center fixed;
    background-size: cover;
    font-family: 'Roboto', sans-serif;
}

/* ------------------------- headings */

#headings {
    margin-top: 5em;
    display: flex;
    text-align: center;
    width: 100%;
}


/* ------------------------- header nav links */

.nav {
    background: #061D25;
    display: flex;
    padding: 10px 0;
}

li>a {
    font-size: 1.7em;
}

header,
a,
a:hover,
a:focus,
a:active {
    font-family: 'Oswald', sans-serif;
    text-decoration: none;
    color: white;
}

/* ------------------------- homepage link/logo */

#homepage-link {
    margin-top: 17em;
    text-align: center;
    height: 200px;
}

h4>a {
    font-size: 2em;
}

/* ------------------------- bounce effect */

.animate__animated.animate__bounce {
    display: inline-block;
    margin: 0 0.5rem;
    --animate-duration: 2.5s;
}

/* ------------------------- allauth forms */

#forms {
    margin-top: 10em;
}

/* ------------------------- footer */

.footer {
    background: #061D25;
    padding: 10px 0;
}

.footer a {
    color: #70726F;
    font-size: 20px;
    padding: 10px;
    border-right: 1px solid #70726F;
    transition: all .5s ease;
}

.footer a:first-child {
    border-left: 1px solid #70726F;
}

.footer a:hover {
    color: white;
}