/* ------------------------- allows our h100 classes to work */

html {
    height: 100%;
}

body {
    background: url('/media/cool-background.png') no-repeat center center fixed;
    background-size: cover;
    font-family: 'Roboto', sans-serif;
}

.full-page {
    position: relative;
    height: 120vh;
}

.background-color {
    background: #061D25;
    opacity: .9;
}

/* ------------------------- headings */

#headings {
    margin-top: 4em;
    display: flex;
    text-align: center;
    width: 100%;
}


/* ------------------------- header nav links */

.nav {
    background: #061D25;
    display: flex;
    padding: 10px 0;
}

li>a {
    font-size: 1.7em;
}

header,
a,
a:hover,
a:focus,
a:active {
    font-family: 'Oswald', sans-serif;
    text-decoration: none;
    color: white;
}

/* ------------------------- homepage link/logo */

#homepage-link {
    margin-top: 15em;
    text-align: center;
    height: 200px;
}

h4>a {
    font-size: 2em;
}

/* ------------------------- bounce effect */

.animate__animated.animate__bounce {
    display: inline-block;
    margin: 0 0.5rem;
    --animate-duration: 2.5s;
}

/* ------------------------- form elements */

.form-buttons {
    margin-left: 15em;
}

/* ------------------------- bootstrap image carousel */

.carousel-inner img {
    margin: auto;
}

/* ------------------------- review posts */

.reviews {
    height: 50vh;
    margin-left: 5px;
    margin-top: 10px;
    padding-left: 10px;
    width: 50px;
    float: left;
    border: 1px solid black;
    background: #061D25;
    opacity: .9;
    overflow: hidden;
}

/* ------------------------- headshot photo */

.headshot_photo {
    display: inline-block;
    margin-left: 8em;
    margin-top: 2em;
}

/* ------------------------- allauth forms */

#forms {
    margin-top: 6em;
}

/* ------------------------- footer */

.footer {
    background: #061D25;
    width: 100%;
    position: fixed;
}

.footer a {
    color: #70726F;
    font-size: 30px;
    padding-left: 20px;
    transition: all .5s ease;
}

.footer a:hover {
    color: white;
}